# 개요
한국 프로야구 한화이글스 팬으로 2023시즌 홈런왕인 노시환 선수의 2024시즌 홈런 개수를 예측해 보려고 한다.

In [23]:
# 필요 모듈 및 라이브러리 import

import requests
from bs4 import BeautifulSoup
import pandas as pd

## 데이터 수집
프로야구 기록 사이트에서 노시환 선수의 프로기록을 크롤링을 통해 가져온다.

In [100]:
url = "http://www.kbreport.com/player/detail/1652#p3"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

tables = soup.find_all('table', class_='ltb-table responsive')

# 각 테이블 데이터를 저장할 변수 초기화
table1_data = []
table2_data = []
table3_data = []

# 각 테이블에 대해 반복
for index, table in enumerate(tables):
    rows = table.find_all('tr')
    table_data = []

    for row in rows:
        cols = row.find_all(['td', 'th'])
        cols = [ele.text.strip() for ele in cols]
        table_data.append(cols)

    # 각 테이블 데이터를 해당 변수에 할당
    if index == 0:
        table1_data = table_data
    elif index == 1:
        table2_data = table_data
    elif index == 2:
        table3_data = table_data

In [42]:
# 데이터 확인 table1_data
print(type(table1_data))
print(table1_data)

<class 'list'>
[['시즌', '팀명', '경기', '타석', '타수', '안타', '홈런', '득점', '타점', '볼넷', '삼진', '도루', 'BABIP', '타율', '출루율', '장타율', 'OPS', 'wOBA', 'WAR'], ['2023', '한화', '131', '595', '514', '153', '31', '85', '101', '74', '118', '2', '0.332', '0.298', '0.388', '0.541', '0.929', '0.408', '6.63', '2022', '한화', '115', '490', '434', '122', '6', '55', '59', '48', '95', '6', '0.344', '0.281', '0.355', '0.382', '0.737', '0.337', '2.00', '2021', '한화', '107', '458', '380', '103', '18', '56', '84', '73', '107', '5', '0.328', '0.271', '0.386', '0.466', '0.852', '0.380', '3.56', '2020', '한화', '106', '387', '346', '76', '12', '46', '43', '33', '116', '0', '0.292', '0.220', '0.298', '0.387', '0.685', '0.305', '0.11', '2019', '한화', '91', '192', '177', '33', '1', '19', '13', '11', '72', '2', '0.305', '0.186', '0.241', '0.260', '0.501', '0.233', '-1.29'], ['2022', '한화', '115', '490', '434', '122', '6', '55', '59', '48', '95', '6', '0.344', '0.281', '0.355', '0.382', '0.737', '0.337', '2.00', '2021', '한화', '107', '458', '380', '103', '18', '56', '84', '73', '107', '5', '0.328', '0.271', '0.386', '0.466', '0.852', '0.380', '3.56', '2020', '한화', '106', '387', '346', '76', '12', '46', '43', '33', '116', '0', '0.292', '0.220', '0.298', '0.387', '0.685', '0.305', '0.11', '2019', '한화', '91', '192', '177', '33', '1', '19', '13', '11', '72', '2', '0.305', '0.186', '0.241', '0.260', '0.501', '0.233', '-1.29'], ['2021', '한화', '107', '458', '380', '103', '18', '56', '84', '73', '107', '5', '0.328', '0.271', '0.386', '0.466', '0.852', '0.380', '3.56', '2020', '한화', '106', '387', '346', '76', '12', '46', '43', '33', '116', '0', '0.292', '0.220', '0.298', '0.387', '0.685', '0.305', '0.11', '2019', '한화', '91', '192', '177', '33', '1', '19', '13', '11', '72', '2', '0.305', '0.186', '0.241', '0.260', '0.501', '0.233', '-1.29'], ['2020', '한화', '106', '387', '346', '76', '12', '46', '43', '33', '116', '0', '0.292', '0.220', '0.298', '0.387', '0.685', '0.305', '0.11', '2019', '한화', '91', '192', '177', '33', '1', '19', '13', '11', '72', '2', '0.305', '0.186', '0.241', '0.260', '0.501', '0.233', '-1.29'], ['2019', '한화', '91', '192', '177', '33', '1', '19', '13', '11', '72', '2', '0.305', '0.186', '0.241', '0.260', '0.501', '0.233', '-1.29']]

In [43]:
# 데이터 확인 table2_data
print(type(table2_data))
print(table2_data)

<class 'list'>
[['시즌', '팀명', '경기', '타석', '타수', '안타', '단타', '2루타', '3루타', '홈런', '득점', '타점', '볼넷', '고4', 'HBP', '삼진', '희플', '희타', '병살', '도루', '도실', '타율'], ['2023', '한화', '131', '595', '514', '153', '91', '30', '1', '31', '85', '101', '74', '5', '4', '118', '3', '3', '13', '2', '1', '0.298', '2022', '한화', '115', '490', '434', '122', '91', '24', '1', '6', '55', '59', '48', '1', '4', '95', '4', '4', '13', '6', '2', '0.281', '2021', '한화', '107', '458', '380', '103', '66', '18', '1', '18', '56', '84', '73', '9', '1', '107', '4', '4', '15', '5', '2', '0.271', '2020', '한화', '106', '387', '346', '76', '44', '18', '2', '12', '46', '43', '33', '1', '6', '116', '1', '2', '8', '0', '1', '0.220', '2019', '한화', '91', '192', '177', '33', '23', '8', '1', '1', '19', '13', '11', '0', '2', '72', '1', '2', '3', '2', '2', '0.186'], ['2022', '한화', '115', '490', '434', '122', '91', '24', '1', '6', '55', '59', '48', '1', '4', '95', '4', '4', '13', '6', '2', '0.281', '2021', '한화', '107', '458', '380', '103', '66', '18', '1', '18', '56', '84', '73', '9', '1', '107', '4', '4', '15', '5', '2', '0.271', '2020', '한화', '106', '387', '346', '76', '44', '18', '2', '12', '46', '43', '33', '1', '6', '116', '1', '2', '8', '0', '1', '0.220', '2019', '한화', '91', '192', '177', '33', '23', '8', '1', '1', '19', '13', '11', '0', '2', '72', '1', '2', '3', '2', '2', '0.186'], ['2021', '한화', '107', '458', '380', '103', '66', '18', '1', '18', '56', '84', '73', '9', '1', '107', '4', '4', '15', '5', '2', '0.271', '2020', '한화', '106', '387', '346', '76', '44', '18', '2', '12', '46', '43', '33', '1', '6', '116', '1', '2', '8', '0', '1', '0.220', '2019', '한화', '91', '192', '177', '33', '23', '8', '1', '1', '19', '13', '11', '0', '2', '72', '1', '2', '3', '2', '2', '0.186'], ['2020', '한화', '106', '387', '346', '76', '44', '18', '2', '12', '46', '43', '33', '1', '6', '116', '1', '2', '8', '0', '1', '0.220', '2019', '한화', '91', '192', '177', '33', '23', '8', '1', '1', '19', '13', '11', '0', '2', '72', '1', '2', '3', '2', '2', '0.186'], ['2019', '한화', '91', '192', '177', '33', '23', '8', '1', '1', '19', '13', '11', '0', '2', '72', '1', '2', '3', '2', '2', '0.186']]

In [44]:
# 데이터 확인 table3_data
print(type(table3_data))
print(table3_data)

<class 'list'>
[['시즌', '팀명', '타석', '타율', 'BABIP', '볼넷%', '삼진%', '볼/삼', 'ISO', '타수/홈런', 'OPS', 'RC', 'RC/27', 'wRC', 'SPD', 'wSB', 'wOBA', 'wRAA', 'WAR'], ['2023', '한화', '595', '0.298', '0.332', '12.4', '19.8', '0.63', '0.243', '16.58', '0.929', '109.28', '7.81', '111.02', '2.78', '-0.39', '0.408', '40.95', '6.63', '2022', '한화', '490', '0.281', '0.344', '9.8', '19.4', '0.50', '0.101', '72.33', '0.737', '60.04', '4.90', '62.15', '3.46', '0.29', '0.337', '5.03', '2.00', '2021', '한화', '458', '0.271', '0.328', '15.9', '23.4', '0.68', '0.195', '21.11', '0.852', '69.49', '6.30', '73.80', '2.37', '0.02', '0.380', '17.48', '3.56', '2020', '한화', '387', '0.220', '0.292', '8.5', '30.0', '0.28', '0.167', '28.83', '0.685', '39.73', '3.82', '37.62', '3.25', '-0.09', '0.305', '-13.18', '0.11', '2019', '한화', '192', '0.186', '0.305', '5.7', '37.5', '0.15', '0.074', '177.00', '0.501', '11.04', '1.97', '6.26', '4.87', '-0.54', '0.233', '-16.33', '-1.29'], ['2022', '한화', '490', '0.281', '0.344', '9.8', '19.4', '0.50', '0.101', '72.33', '0.737', '60.04', '4.90', '62.15', '3.46', '0.29', '0.337', '5.03', '2.00', '2021', '한화', '458', '0.271', '0.328', '15.9', '23.4', '0.68', '0.195', '21.11', '0.852', '69.49', '6.30', '73.80', '2.37', '0.02', '0.380', '17.48', '3.56', '2020', '한화', '387', '0.220', '0.292', '8.5', '30.0', '0.28', '0.167', '28.83', '0.685', '39.73', '3.82', '37.62', '3.25', '-0.09', '0.305', '-13.18', '0.11', '2019', '한화', '192', '0.186', '0.305', '5.7', '37.5', '0.15', '0.074', '177.00', '0.501', '11.04', '1.97', '6.26', '4.87', '-0.54', '0.233', '-16.33', '-1.29'], ['2021', '한화', '458', '0.271', '0.328', '15.9', '23.4', '0.68', '0.195', '21.11', '0.852', '69.49', '6.30', '73.80', '2.37', '0.02', '0.380', '17.48', '3.56', '2020', '한화', '387', '0.220', '0.292', '8.5', '30.0', '0.28', '0.167', '28.83', '0.685', '39.73', '3.82', '37.62', '3.25', '-0.09', '0.305', '-13.18', '0.11', '2019', '한화', '192', '0.186', '0.305', '5.7', '37.5', '0.15', '0.074', '177.00', '0.501', '11.04', '1.97', '6.26', '4.87', '-0.54', '0.233', '-16.33', '-1.29'], ['2020', '한화', '387', '0.220', '0.292', '8.5', '30.0', '0.28', '0.167', '28.83', '0.685', '39.73', '3.82', '37.62', '3.25', '-0.09', '0.305', '-13.18', '0.11', '2019', '한화', '192', '0.186', '0.305', '5.7', '37.5', '0.15', '0.074', '177.00', '0.501', '11.04', '1.97', '6.26', '4.87', '-0.54', '0.233', '-16.33', '-1.29'], ['2019', '한화', '192', '0.186', '0.305', '5.7', '37.5', '0.15', '0.074', '177.00', '0.501', '11.04', '1.97', '6.26', '4.87', '-0.54', '0.233', '-16.33', '-1.29']]

## 데이터 전처리
불러온 세개의 테이블 데이터를 전처리와 하나의 테이블로 만들고 
해당 데이터를 csv 파일로 저장한다.

In [101]:
#원본 리스트 데이터 df형태로 변경
df1 = pd.DataFrame(table1_data)
df2 = pd.DataFrame(table2_data)
df3 = pd.DataFrame(table3_data)

In [65]:
df1

,0,1,2,3,4,5,6,7,8,9,...,85,86,87,88,89,90,91,92,93,94
0,시즌,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,...,None,None,None,None,None,None,None,None,None,None
1,2023,한화,131,595,514,153,31,85,101,74,...,11,72,2,0.305,0.186,0.241,0.260,0.501,0.233,-1.29
2,2022,한화,115,490,434,122,6,55,59,48,...,None,None,None,None,None,None,None,None,None,None
3,2021,한화,107,458,380,103,18,56,84,73,...,None,None,None,None,None,None,None,None,None,None
4,2020,한화,106,387,346,76,12,46,43,33,...,None,None,None,None,None,None,None,None,None,None
5,2019,한화,91,192,177,33,1,19,13,11,...,None,None,None,None,None,None,None,None,None,None

In [102]:
# 행, 열 인덱스 변경
dataframes = [df1, df2, df3]
for df in dataframes:
    df.columns = df.iloc[0]
    df.drop(df.index[0], inplace = True)
    df.set_index('시즌', inplace = True)

In [103]:
for df in dataframes:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2023 to 2019
Data columns (total 94 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      5 non-null      object
 1   경기      5 non-null      object
 2   타석      5 non-null      object
 3   타수      5 non-null      object
 4   안타      5 non-null      object
 5   홈런      5 non-null      object
 6   득점      5 non-null      object
 7   타점      5 non-null      object
 8   볼넷      5 non-null      object
 9   삼진      5 non-null      object
 10  도루      5 non-null      object
 11  BABIP   5 non-null      object
 12  타율      5 non-null      object
 13  출루율     5 non-null      object
 14  장타율     5 non-null      object
 15  OPS     5 non-null      object
 16  wOBA    5 non-null      object
 17  WAR     5 non-null      object
 18  None    4 non-null      object
 19  None    4 non-null      object
 20  None    4 non-null      object
 21  None    4 non-null      object
 22  None    4 non-null      object
 23  None    4 non-null      object
 24  None    4 non-null      object
 25  None    4 non-null      object
 26  None    4 non-null      object
 27  None    4 non-null      object
 28  None    4 non-null      object
 29  None    4 non-null      object
 30  None    4 non-null      object
 31  None    4 non-null      object
 32  None    4 non-null      object
 33  None    4 non-null      object
 34  None    4 non-null      object
 35  None    4 non-null      object
 36  None    4 non-null      object
 37  None    3 non-null      object
 38  None    3 non-null      object
 39  None    3 non-null      object
 40  None    3 non-null      object
 41  None    3 non-null      object
 42  None    3 non-null      object
 43  None    3 non-null      object
 44  None    3 non-null      object
 45  None    3 non-null      object
 46  None    3 non-null      object
 47  None    3 non-null      object
 48  None    3 non-null      object
 49  None    3 non-null      object
 50  None    3 non-null      object
 51  None    3 non-null      object
 52  None    3 non-null      object
 53  None    3 non-null      object
 54  None    3 non-null      object
 55  None    3 non-null      object
 56  None    2 non-null      object
 57  None    2 non-null      object
 58  None    2 non-null      object
 59  None    2 non-null      object
 60  None    2 non-null      object
 61  None    2 non-null      object
 62  None    2 non-null      object
 63  None    2 non-null      object
 64  None    2 non-null      object
 65  None    2 non-null      object
 66  None    2 non-null      object
 67  None    2 non-null      object
 68  None    2 non-null      object
 69  None    2 non-null      object
 70  None    2 non-null      object
 71  None    2 non-null      object
 72  None    2 non-null      object
 73  None    2 non-null      object
 74  None    2 non-null      object
 75  None    1 non-null      object
 76  None    1 non-null      object
 77  None    1 non-null      object
 78  None    1 non-null      object
 79  None    1 non-null      object
 80  None    1 non-null      object
 81  None    1 non-null      object
 82  None    1 non-null      object
 83  None    1 non-null      object
 84  None    1 non-null      object
 85  None    1 non-null      object
 86  None    1 non-null      object
 87  None    1 non-null      object
 88  None    1 non-null      object
 89  None    1 non-null      object
 90  None    1 non-null      object
 91  None    1 non-null      object
 92  None    1 non-null      object
 93  None    1 non-null      object
dtypes: object(94)
memory usage: 3.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2023 to 2019
Columns: 109 entries, 팀명 to None
dtypes: object(109)
memory usage: 4.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2023 to 2019
Data columns (total 94 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      5 non-null      object
 1   타석      5 non-null      object
 2   타율      5 non-null      object
 3   BABIP   5 non-null      object
 4   볼넷%     5 non-null      object
 5   삼진%     5 non-null      object
 6   볼/삼     5 non-null      object
 7   ISO     5 non-null      object
 8   타수/홈런   5 non-null      object
 9   OPS     5 non-null      object
 10  RC      5 non-null      object
 11  RC/27   5 non-null      object
 12  wRC     5 non-null      object
 13  SPD     5 non-null      object
 14  wSB     5 non-null      object
 15  wOBA    5 non-null      object
 16  wRAA    5 non-null      object
 17  WAR     5 non-null      object
 18  None    4 non-null      object
 19  None    4 non-null      object
 20  None    4 non-null      object
 21  None    4 non-null      object
 22  None    4 non-null      object
 23  None    4 non-null      object
 24  None    4 non-null      object
 25  None    4 non-null      object
 26  None    4 non-null      object
 27  None    4 non-null      object
 28  None    4 non-null      object
 29  None    4 non-null      object
 30  None    4 non-null      object
 31  None    4 non-null      object
 32  None    4 non-null      object
 33  None    4 non-null      object
 34  None    4 non-null      object
 35  None    4 non-null      object
 36  None    4 non-null      object
 37  None    3 non-null      object
 38  None    3 non-null      object
 39  None    3 non-null      object
 40  None    3 non-null      object
 41  None    3 non-null      object
 42  None    3 non-null      object
 43  None    3 non-null      object
 44  None    3 non-null      object
 45  None    3 non-null      object
 46  None    3 non-null      object
 47  None    3 non-null      object
 48  None    3 non-null      object
 49  None    3 non-null      object
 50  None    3 non-null      object
 51  None    3 non-null      object
 52  None    3 non-null      object
 53  None    3 non-null      object
 54  None    3 non-null      object
 55  None    3 non-null      object
 56  None    2 non-null      object
 57  None    2 non-null      object
 58  None    2 non-null      object
 59  None    2 non-null      object
 60  None    2 non-null      object
 61  None    2 non-null      object
 62  None    2 non-null      object
 63  None    2 non-null      object
 64  None    2 non-null      object
 65  None    2 non-null      object
 66  None    2 non-null      object
 67  None    2 non-null      object
 68  None    2 non-null      object
 69  None    2 non-null      object
 70  None    2 non-null      object
 71  None    2 non-null      object
 72  None    2 non-null      object
 73  None    2 non-null      object
 74  None    2 non-null      object
 75  None    1 non-null      object
 76  None    1 non-null      object
 77  None    1 non-null      object
 78  None    1 non-null      object
 79  None    1 non-null      object
 80  None    1 non-null      object
 81  None    1 non-null      object
 82  None    1 non-null      object
 83  None    1 non-null      object
 84  None    1 non-null      object
 85  None    1 non-null      object
 86  None    1 non-null      object
 87  None    1 non-null      object
 88  None    1 non-null      object
 89  None    1 non-null      object
 90  None    1 non-null      object
 91  None    1 non-null      object
 92  None    1 non-null      object
 93  None    1 non-null      object
dtypes: object(94)
memory usage: 3.7+ KB
None

In [104]:
# 열 이름 none 삭제
for df in dataframes:
    columns_drop = [col for col in df.columns if col is None]
    df.drop(columns = columns_drop, inplace = True)

In [95]:
for df in dataframes:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2023 to 2019
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      5 non-null      object
 1   경기      5 non-null      object
 2   타석      5 non-null      object
 3   타수      5 non-null      object
 4   안타      5 non-null      object
 5   홈런      5 non-null      object
 6   득점      5 non-null      object
 7   타점      5 non-null      object
 8   볼넷      5 non-null      object
 9   삼진      5 non-null      object
 10  도루      5 non-null      object
 11  BABIP   5 non-null      object
 12  타율      5 non-null      object
 13  출루율     5 non-null      object
 14  장타율     5 non-null      object
 15  OPS     5 non-null      object
 16  wOBA    5 non-null      object
 17  WAR     5 non-null      object
dtypes: object(18)
memory usage: 760.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2023 to 2019
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      5 non-null      object
 1   경기      5 non-null      object
 2   타석      5 non-null      object
 3   타수      5 non-null      object
 4   안타      5 non-null      object
 5   단타      5 non-null      object
 6   2루타     5 non-null      object
 7   3루타     5 non-null      object
 8   홈런      5 non-null      object
 9   득점      5 non-null      object
 10  타점      5 non-null      object
 11  볼넷      5 non-null      object
 12  고4      5 non-null      object
 13  HBP     5 non-null      object
 14  삼진      5 non-null      object
 15  희플      5 non-null      object
 16  희타      5 non-null      object
 17  병살      5 non-null      object
 18  도루      5 non-null      object
 19  도실      5 non-null      object
 20  타율      5 non-null      object
dtypes: object(21)
memory usage: 880.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2023 to 2019
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀명      5 non-null      object
 1   타석      5 non-null      object
 2   타율      5 non-null      object
 3   BABIP   5 non-null      object
 4   볼넷%     5 non-null      object
 5   삼진%     5 non-null      object
 6   볼/삼     5 non-null      object
 7   ISO     5 non-null      object
 8   타수/홈런   5 non-null      object
 9   OPS     5 non-null      object
 10  RC      5 non-null      object
 11  RC/27   5 non-null      object
 12  wRC     5 non-null      object
 13  SPD     5 non-null      object
 14  wSB     5 non-null      object
 15  wOBA    5 non-null      object
 16  wRAA    5 non-null      object
 17  WAR     5 non-null      object
dtypes: object(18)
memory usage: 760.0+ bytes
None

In [111]:
# 세 테이블 하나의 데이터로 병합
# df1, df2, df3을 행 기준으로 완전 외부 조인
final_df = pd.concat([df1, df2, df3], axis=1, join='outer')

final_df = final_df.ffill(axis=1).bfill(axis=1)

print(final_df)

0     팀명   경기   타석   타수   안타  홈런  득점   타점  볼넷   삼진  ...   타수/홈런    OPS  \
시즌                                                  ...
2023  한화  131  595  514  153  31  85  101  74  118  ...   16.58  0.929
2022  한화  115  490  434  122   6  55   59  48   95  ...   72.33  0.737
2021  한화  107  458  380  103  18  56   84  73  107  ...   21.11  0.852
2020  한화  106  387  346   76  12  46   43  33  116  ...   28.83  0.685
2019  한화   91  192  177   33   1  19   13  11   72  ...  177.00  0.501

0         RC RC/27     wRC   SPD    wSB   wOBA    wRAA    WAR
시즌
2023  109.28  7.81  111.02  2.78  -0.39  0.408   40.95   6.63
2022   60.04  4.90   62.15  3.46   0.29  0.337    5.03   2.00
2021   69.49  6.30   73.80  2.37   0.02  0.380   17.48   3.56
2020   39.73  3.82   37.62  3.25  -0.09  0.305  -13.18   0.11
2019   11.04  1.97    6.26  4.87  -0.54  0.233  -16.33  -1.29

[5 rows x 57 columns]

In [113]:
# 합치는 과정에서 행을 기준으로 concat를 하여 하나의 데이터로 만들어주려 했지만
# 해당 결과처럼 원하는 답이 나오지 않아
# 일단 조인을 한 후 중복된 컬럼이 있으면 삭제를 진행했다.
final_df = final_df.loc[:, ~final_df.columns.duplicated()]
final_df

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,...,삼진%,볼/삼,ISO,타수/홈런,RC,RC/27,wRC,SPD,wSB,wRAA
시즌,,,,,,,,,,,,,,,,,,,,,
2023,한화,131,595,514,153,31,85,101,74,118,...,19.8,0.63,0.243,16.58,109.28,7.81,111.02,2.78,-0.39,40.95
2022,한화,115,490,434,122,6,55,59,48,95,...,19.4,0.50,0.101,72.33,60.04,4.90,62.15,3.46,0.29,5.03
2021,한화,107,458,380,103,18,56,84,73,107,...,23.4,0.68,0.195,21.11,69.49,6.30,73.80,2.37,0.02,17.48
2020,한화,106,387,346,76,12,46,43,33,116,...,30.0,0.28,0.167,28.83,39.73,3.82,37.62,3.25,-0.09,-13.18
2019,한화,91,192,177,33,1,19,13,11,72,...,37.5,0.15,0.074,177.00,11.04,1.97,6.26,4.87,-0.54,-16.33

In [117]:
# final_df 데이터프레임을 CSV 파일로 저장
final_df.to_csv('RohSiHwan_final_data.csv', encoding='utf-8-sig', index=True)